
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    }
    
    html{
        box-sizing:border-box;
    }
    
    *,*::after*::before{
        box-sizing:inherit;
    }
    
    body{
        min-width: 320px;
        background-color: #F8F8F8 ;
        max-width: 1120px;
        margin: auto;
    }
    
    
    /* 1 часть Лого и виджеты */
   
    
    .header{
        background-color: white;
        border-bottom: 1px solid #D9FFF5 ;
        min-height: 87px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    @media (min-width : 768px) and (max-width: 1119px) {
        .header{
            padding-left: 30px;
            padding-right: 40px;
        }
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .header{
            float: right;
            display: flex;
            width: 420px;
            align-items: center;
            padding: 30px 0 0px;
            height: 60px;
            background-color: #F8F8F8;
            border-bottom: none;
        }
    }
     
     /* Переделанный хедер */

     
     .navbar{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(navbar.svg) ;
        background-repeat: no-repeat;
        background-position:center;
     }
     

     @media (min-width : 1120px) and (max-width: 4000px) {
        .navbar{
            display: none;
         }
    }

    .header__line--disappear{
           display: none;
        } 
     @media (min-width : 768px) and (max-width: 1119px) {
             .header__line--disappear{
                display:block;
             }
            }
        
     

     .phone{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(phone.svg) ;
        background-repeat: no-repeat;
        background-position:center;
     }
     .phone--disappear{
        display: none;
     }

     @media (min-width : 768px) and (max-width: 1119px) {
        .phone--disappear {
            display:block;
         }
       }

     .message{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(message1.svg) ;
        background-repeat: no-repeat;
        background-position:center;
     }
     .message--disappear{
        display: none;
     }
     @media (min-width : 768px) and (max-width: 1119px) {
        .message--disappear{
            display:block;
         }
       }

     .office{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(office.svg) ;
        background-repeat: no-repeat;
        background-position:center;
     }
     
     .office--disappear{
        display: none;
     }

     @media (min-width : 768px) and (max-width: 1119px) {
        .office--disappear{
            display:block;
         }
       }

    .settings{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(settings.svg) ;
        background-repeat: no-repeat;
        background-position:center;
    }
    .text__settings{
        display: none;
    }

    .search{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(search.svg) ;
        background-repeat: no-repeat;
        background-position:center;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .search{
          
        }
    }

    .text__search{
        display: none;
    }

    
     /* 2 часть Заголовок и скролл */
     .heading{
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        padding: 24px 0 20px;
     }
     @media (min-width : 1120px) and (max-width: 4000px) {
        .heading{
            padding: 40px 0 20px;
         }
    }
    
     .main{
        background-color: #F8F8F8 ;
    }
    
    .content-name{
        font-family: 'Nunito Sans', sans-serif;
        font-size:30px;
        width: 350px;
        padding-left: 15px;
        letter-spacing: -1px;
        font-weight: bold;

    }
    @media (min-width : 768px) and (max-width: 1119px) {
        .content-name{
            padding-left: 20px;
        }
       }

    @media (min-width : 1120px) and (max-width: 4000px) {
        .content-name{
            width: 650px;
        }
    }
    
    .img{
        height: 45px;
    }
    
    .scroller{
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }
    
    .gradient{
        position: absolute;
        top: 10;
        right: 0;
        height: 45px;
        width: 20px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(248,248,248,0.938813025210084) 70%);
        
        
    }

    .link{
        display: inline-block; 
        height: 20px;
        color: #7E7E82; 
        font-size: 17px;
        padding: 10px 15px 10px 15px;
        text-decoration: none;
        font-weight: 600;
       
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .link{
        padding: 10px 20px 10px 20px;
      }
    }
    .link:active{
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
        
    }
    .scroller__items{
        padding: 10px 10px;
        display: flex;
        justify-content: start;
        align-items: stretch;
        overflow-x: auto;
        list-style-type: none;
        white-space: nowrap;
        padding-left: 16px;
        z-index: 9;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {   
      .scroller__items{
        flex-wrap: wrap;
      }
    }
    

    .scroller__items::-webkit-scrollbar {
        display: none;
      }
    
    
      
      ul.scroller__items li.selected a {
        color: #7E7E82;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
      }
      
      ul.scroller__items li a:hover{
        color: #7E7E82;
      }

      .el1-link--mod{
        display: none;
     }



    /* 3 часть контент текст */
    



    .first-paragraph{
        font-size: 16px;
        color: #1B1C21;
        height: 100px;
        padding-top: 5px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: 600;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .first-paragraph    {
            display: block;
            font-size: 17px;
            height: 65px;  
    }
}
    
    .second-paragraph {
        display: none;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .second-paragraph{
            display: block;
            height: 110px;
            font-size: 17px;
            padding: 0px 16px 0px 16px ;
            font-weight: 600;  
        }
    }
    .text-search {
        display: none;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
      .text-search{
            display: block;
            align-items: center;
            padding-top: 10px;
            float: left;
            height: 24px;
            font-size: 18px;
            padding-right: 20px;
        }
    }
    .text-settings {
        display: none;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
       .text-settings{
            display: block;
            align-items: center;
            padding-top: 10px;
            float: left;
            height: 24px;
            font-size: 18px;
            padding-right: 20px;
        }
    }


    
    
    .read-more {
        color:  #1B1C21;
        font-size: 18px;
        font-weight: 700;
        background: #F8F8F8 ;
        display: block;
        border: 0;
        cursor: pointer;
        padding-top: 30px;
        padding-left: 36px;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .read-more{
            padding-top: 0;

        }
    }
        
    .arrow{
        height: 12px;
        padding-right: 20px;
    }
    
    
    .picture{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    @media (min-width : 1120px) and (max-width: 4000px) {
        .picture{
            padding-top: 0px;
        }
    }
    
    .banner{
        width: 25rem;
    }
    
    @media (min-width : 768px) and (max-width: 1119px) {
    .banner{
        width: 25rem;
    }
}



    /* Всплывающее меню */
    /* шапка */
    
    #checkbox_toggle:checked + .side-panel__navbar{
        display: none;
    }
    #checkbox_toggle:checked + .side-panel__navbar{
        display: block;
    }
    #checkbox_toggle:checked + .side-panel__navbar {
        left: 0;
    }

    .checkbox{
        opacity:0;
        height: 40px;
        width: 40px;
    }

    .side-panel__navbar{
        display: none;
    }

    .side-panel__navbar {
        position: absolute;
        z-index: 999999;
        top: 0;
        left: -360px;
        background: white;
        transition: all 0.5s;   
        width: 320px;
        min-height: 100rem;
        box-shadow: 30px 0 30px rgba(0,0,0,0.4);
        color: #FFF; 
    }

    .side_panel__header{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items:center;
        
    }

    
    .side-button-exit {
        font-size: 30px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        /* transform: rotate(45deg); */
        color: #BFE2FF;    
        transition: all 280ms ease-in-out;    
    }

    .side-button-exit:hover {
        transform: rotate(90deg) scale(1.1);    
        color: #b42828;
    }

    .side-panel__exit{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(exit.svg) ;
        background-repeat: no-repeat;
        background-position:center;
    }

    .side-panel__logo{
        padding-right: 60px;
    }
    @media (min-width : 768px) and (max-width: 1119px) {
        .side-panel__logo{
            padding-right: 60px;
        }
    }
    

    .side-panel__search{
        height: 40px;
        width: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        background-image: url(search_nav.svg) ;
        background-repeat: no-repeat;
        background-position:center;
        cursor: pointer;
        transition: all 280ms ease-in-out;  
    }
    .side-panel__search:hover {
        transform: rotate(10deg) scale(1.1);    
        color: #b42828;
    }


    /* список */
    
    .list__panel {
        font-size: 16px;
        z-index: 2000;
        list-style-type: none;
        overflow-y:auto;
        padding-bottom: 10vh;
    }


    .list__panel--scroll::-webkit-scrollbar{
        display: none;
    }

    .li__panel{
        padding-bottom: 20px;
    }

    .li__panel:hover{
        background-image:url(highlight.svg);
        background-repeat: no-repeat;
        background-position:left;
    }

    .list__link{
        display: block;
        text-decoration: none;
        color:#1B1C21;
        font-weight:600;
        padding-top: 10px;
        padding-left: 30px;
      
    }

    
    .list__link:hover{
        color: #7E7E82;
        cursor: pointer;
        font-weight:normal;
        background-image:url(highlight.svg) ;
        background-repeat: no-repeat;
        background-position:left;
    }

    /* подвал сайдбара */
    .nav__footer{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        padding: 20px;
        padding-right:90px;
        height: auto;
        vertical-align:bottom; 
    }
   
    .side-panel__phone{
        
    }
    .mail{
        color:#1B1C21;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: 20px;
        font-size: 14px;
        font-weight: 600;
       
    }
    .number{
        color:#1B1C21;
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top :10px;
        font-size: 28px;
        font-weight: bold;
       
    }
    .nav__footer__link{
        cursor: pointer;
        text-decoration: none;
        color:#1B1C21;
        transition: all 180ms ease-in-out;    
    }

    .nav__footer__link:hover {
        transform: rotate(0deg) scale(1.0);    
        color: pink;
    }
    
    .language{
        text-decoration: none;
        color:#1B1C21;
        font-weight: 600;
        font-size: 18px;
        padding-top :40px;
        cursor: pointer;
    }
    .language:hover{
        font-weight: 200;
    }

    


     



    /* CSS 768px Те теги которые не стилизовались ранее*/
    
    @media (min-width : 768px) and (max-width: 1119px) {
    
        .logo__navbar{
            padding-right: 250px;
        }
        
        .main__heading {
            display: flex;
            justify-content: left;
        }
         .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .about-service{
            padding: none;
        }
    
        .about-service__second-paragraph{
            display: block;
            height: 35px;
            overflow: hidden;
            padding: 10px 16px 5px 16px;
            font-size: 16px;
            font-weight: 600;
        }
            
    }
    
    /* CSS 1120px Те теги которые не стилизовались ранее*/
    @media (min-width : 1120px) and (max-width: 4000px) {
        .logo {
            display: none;
        }
        
        .line{
            display: none;
        }
        .text__settings{
            display: block;
        }
        .text__search{
            display: block;
        }
        
        .el1-link{
            display: block;
        }
        
        .header__settings{
            padding: 10px;
          
        }
        
        .main__heading{
            float: left;
            display: flex;
            width: 700px;
            padding: 60px 0 0px;
            height: 60px;
        }
        .main__scroller {
            display: inline-block;
        }
    
        .el3{
            display: none;
        }
    
       .el5{
        display: block;
       }
       
       .content{
        display: flex;
        justify-content: center;
        align-items: top;
        }
        .picture__banner{
            border-radius:5px;
            padding-bottom: 50px;
            padding-top: 0px;
            height: 20rem;
            width: 30rem;
        }
}

    
